<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threewater.webserver.webtemplate.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.threewater.webserver.webtemplate.po.OrderInfo">
    <id column="order_Id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="user_Id" jdbcType="VARCHAR" property="userId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="pay_type" jdbcType="CHAR" property="payType" />
    <result column="pay_date" jdbcType="TIMESTAMP" property="payDate" />
    <result column="customer_tel" jdbcType="VARCHAR" property="customerTel" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="order_desc" jdbcType="INTEGER" property="orderDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    order_Id, order_date, user_Id, customer_name, total_price, pay_type, pay_date, customer_tel, 
    state, order_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_info
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.threewater.webserver.webtemplate.po.OrderInfo">
    insert into order_info (order_Id, order_date, user_Id, 
      customer_name, total_price, pay_type, 
      pay_date, customer_tel, state, 
      order_desc)
    values (#{orderId,jdbcType=VARCHAR}, #{orderDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{totalPrice,jdbcType=DOUBLE}, #{payType,jdbcType=CHAR}, 
      #{payDate,jdbcType=TIMESTAMP}, #{customerTel,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, 
      #{orderDesc,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.threewater.webserver.webtemplate.po.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_Id,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
      <if test="userId != null">
        user_Id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="payDate != null">
        pay_date,
      </if>
      <if test="customerTel != null">
        customer_tel,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="orderDesc != null">
        order_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=CHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerTel != null">
        #{customerTel,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="orderDesc != null">
        #{orderDesc,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.threewater.webserver.webtemplate.po.OrderInfo">
    update order_info
    <set>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_Id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="payDate != null">
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerTel != null">
        customer_tel = #{customerTel,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="orderDesc != null">
        order_desc = #{orderDesc,jdbcType=INTEGER},
      </if>
    </set>
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.threewater.webserver.webtemplate.po.OrderInfo">
    update order_info
    set order_date = #{orderDate,jdbcType=TIMESTAMP},
      user_Id = #{userId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      pay_type = #{payType,jdbcType=CHAR},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      customer_tel = #{customerTel,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      order_desc = #{orderDesc,jdbcType=INTEGER}
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>