<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threewater.webserver.webtemplate.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.threewater.webserver.webtemplate.po.UserInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="tel_no" jdbcType="VARCHAR" property="telNo" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="valid_date" jdbcType="DATE" property="validDate" />
    <result column="wx_city" jdbcType="VARCHAR" property="wxCity" />
    <result column="wx_avatar_url" jdbcType="VARCHAR" property="wxAvatarUrl" />
    <result column="wx_gender" jdbcType="CHAR" property="wxGender" />
    <result column="wx_country" jdbcType="VARCHAR" property="wxCountry" />
    <result column="wx_nickName" jdbcType="VARCHAR" property="wxNickname" />
    <result column="wx_language" jdbcType="VARCHAR" property="wxLanguage" />
    <result column="wx_province" jdbcType="VARCHAR" property="wxProvince" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, name, open_id, email, tel_no, address, pay_id, state, valid_date, wx_city, 
    wx_avatar_url, wx_gender, wx_country, wx_nickName, wx_language, wx_province
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.threewater.webserver.webtemplate.po.UserInfo">
    insert into user_info (user_id, name, open_id, 
      email, tel_no, address, 
      pay_id, state, valid_date, 
      wx_city, wx_avatar_url, wx_gender, 
      wx_country, wx_nickName, wx_language, 
      wx_province)
    values (#{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{telNo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{payId,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, #{validDate,jdbcType=DATE}, 
      #{wxCity,jdbcType=VARCHAR}, #{wxAvatarUrl,jdbcType=VARCHAR}, #{wxGender,jdbcType=CHAR}, 
      #{wxCountry,jdbcType=VARCHAR}, #{wxNickname,jdbcType=VARCHAR}, #{wxLanguage,jdbcType=VARCHAR}, 
      #{wxProvince,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.threewater.webserver.webtemplate.po.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="telNo != null">
        tel_no,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="payId != null">
        pay_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="validDate != null">
        valid_date,
      </if>
      <if test="wxCity != null">
        wx_city,
      </if>
      <if test="wxAvatarUrl != null">
        wx_avatar_url,
      </if>
      <if test="wxGender != null">
        wx_gender,
      </if>
      <if test="wxCountry != null">
        wx_country,
      </if>
      <if test="wxNickname != null">
        wx_nickName,
      </if>
      <if test="wxLanguage != null">
        wx_language,
      </if>
      <if test="wxProvince != null">
        wx_province,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null">
        #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="validDate != null">
        #{validDate,jdbcType=DATE},
      </if>
      <if test="wxCity != null">
        #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxAvatarUrl != null">
        #{wxAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="wxGender != null">
        #{wxGender,jdbcType=CHAR},
      </if>
      <if test="wxCountry != null">
        #{wxCountry,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null">
        #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxLanguage != null">
        #{wxLanguage,jdbcType=VARCHAR},
      </if>
      <if test="wxProvince != null">
        #{wxProvince,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.threewater.webserver.webtemplate.po.UserInfo">
    update user_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null">
        tel_no = #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="payId != null">
        pay_id = #{payId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="validDate != null">
        valid_date = #{validDate,jdbcType=DATE},
      </if>
      <if test="wxCity != null">
        wx_city = #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxAvatarUrl != null">
        wx_avatar_url = #{wxAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="wxGender != null">
        wx_gender = #{wxGender,jdbcType=CHAR},
      </if>
      <if test="wxCountry != null">
        wx_country = #{wxCountry,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null">
        wx_nickName = #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxLanguage != null">
        wx_language = #{wxLanguage,jdbcType=VARCHAR},
      </if>
      <if test="wxProvince != null">
        wx_province = #{wxProvince,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.threewater.webserver.webtemplate.po.UserInfo">
    update user_info
    set name = #{name,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      tel_no = #{telNo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      pay_id = #{payId,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      valid_date = #{validDate,jdbcType=DATE},
      wx_city = #{wxCity,jdbcType=VARCHAR},
      wx_avatar_url = #{wxAvatarUrl,jdbcType=VARCHAR},
      wx_gender = #{wxGender,jdbcType=CHAR},
      wx_country = #{wxCountry,jdbcType=VARCHAR},
      wx_nickName = #{wxNickname,jdbcType=VARCHAR},
      wx_language = #{wxLanguage,jdbcType=VARCHAR},
      wx_province = #{wxProvince,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>